// Override this file to add your own SCSS styling.
body {
	font-family: Optima, "Avenir Next", Avenir, Calibri, Arial, sans-serif;
}

code {
	white-space : pre-wrap !important;
}

table {
    border-collapse: collapse;
}
table, th, td {
   border: 1px solid black;
}
blockquote {
    border-left: solid blue;
    padding-left: 10px;
}