// Override this file to add your own SCSS styling.
body {
	font-size:1rem;
	font-family: Optima, "Avenir Next", Avenir, Calibri, Arial, sans-serif;
}


.navbar {
	font-size:1.6rem
}


.hero{
	padding: 0;
}
.home-section	{
	padding: 0.1rem;
}
.col-12 figure{
	float: left;
	margin-right:10px
}
.col-12 {
	display: block;
}
.hero-lead {
	max-width: 100%;
}